<h2 class="text-center"><i class="fas fa-anchor"></i>TripuLação</h2>

<% @crews.each do |crew| %>
  <% if params[:member_id] != nil %>
    <% if crew.member_id == @member.id %>
      <%=link_to "#{crew.id}", crew_path(crew), class: "btn btn-primary m-4"%>
    <% end %>
  <% end %>
  <% if params[:ship_id] != nil %>
    <% if crew.ship_id == @ship.id %>
      <%=link_to "#{crew.id}", crew_path(crew), class: "btn btn-primary m-4"%>
    <% end %>
  <% end %>
<%end%>
