// Specific CSS for your home-page
// .buttons {
//   background: rgba(255, 255, 255, 1);
//   border-radius: 8px;
//   height: 230px;
//   width: 380px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.app-name {
  text-shadow: 1px 1px 2px black;
}
