<h2 class="text-center"><i class="fas fa-check-circle"></i>
Escolha uma opção</h2>
<div>
<div class="buttons text-center pt-2">
  <div class="button pt-4">
    <%=link_to "Ocorrências", "#", class: "btn btn-primary btn-lg w-50"%>
  </div>

  <div class="button pt-4">
    <%=link_to "Embarcações", "#", class: "btn btn-primary btn-lg w-50"%>
  </div>

  <div class="button pt-4">
    <%=link_to "Tripulantes", "#", class: "btn btn-primary btn-lg w-50"%>

  </div>
  </div>

</div>
