<h2 class="text-center"><i class="fas fa-paste"></i> Ocorrências</h2>

<% @occurrences.each do |occurrence| %>
  <h5><%= occurrence.user.email%> </h5>
  <h5><%= occurrence.ship.name%> </h5>
  <% end %>
<%= link_to 'Criar ocorrência', new_user_occurrence_path, class: "btn btn-primary btn-lg" %>
