@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.app-name {
  text-shadow: 1px 1px 2px grey;
}
